:root {
  --primary-color: #007bff;
  --spacing-small: 8px;
  --font-size-icon: 1.2em;
  --max-width-chart: 600px;
}

body {
  padding-top: calc(
    50px + 1em
  ); /* Ajuste dinâmico baseado na altura do navbar */
  position: relative; /* Necessário para o posicionamento correto do pseudo-elemento */
}

body::after {
  content: '';
  background: url('/imagens/img.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  display: inline-block;
  object-fit: contain;
}

.chart-container {
  width: 100%;
  max-width: var(--max-width-chart);
  margin: 20px auto;
}

canvas {
  width: 100% !important; /* Força o canvas a ocupar 100% da largura do contêiner */
  height: auto !important; /* Altura automática para manter a proporção */
}

div.informacoes,
div.dados {
  display: flex;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  div.informacoes,
  div.dados {
    flex-direction: column;
  }
}

img,
.image_introducao {
  max-width: 100%;
  height: auto;
}

.image_introducao {
  width: 40%; /* Ajuste para imagem de introdução */
  max-width: 600px; /* Máximo de largura */
  display: block;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  img {
    display: block;
    margin: 0 auto;
  }

  .image_introducao {
    width: 100%; /* Largura total em telas menores */
  }
}

.nav-link {
  display: flex; /* Cria um layout flexível */
  align-items: center; /* Centraliza os itens verticalmente */
  gap: var(--spacing-small); /* Adiciona espaço entre o ícone e o texto */
}

.nav-link i {
  font-size: var(--font-size-icon); /* Tamanho do ícone */
}
