.icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

body::after {
  content: "";
  background: url('/imagens/img.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.chart-container {
  max-width: 200px;
  margin: 0 auto;
}

#ageDistributionChart {
  width: 100px;
  height: 100px;
}

div.informacoes,
div.dados {
  display: flex;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  div.informacoes,
  div.dados {
    flex-direction: column;
  }
}

img {
  max-width: 100%;
  height: auto;
}


body {
  padding-top: 70px; /* Ajuste de acordo com a altura do seu navbar */
}

.image_introducao {
  width: 40%;
  height: 40%;
}
