:root {
  --primary-color: #007bff;
  --spacing-small: 8px;
  --font-size-icon: 1.2em;
  --max-width-chart: 600px;
}

body {
  padding-top: calc(25px + 1em); /* Ajuste dinâmico baseado na altura do navbar */
  position: relative;
}

body::after {
  content: '';
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  display: inline-block;
  object-fit: contain;
}

.chart-container {
  width: 100%;
  max-width: var(--max-width-chart);
  margin: 20px auto;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

/* Flex container for the text and image */
.informacoes {
  display: flex;
  align-items: center; /* Centrally aligns items vertically */
  justify-content: space-between; /* Distributes space between items */
  margin-top: 20px;
}

/* Text section */
.informacoes section {
  flex: 1; /* Takes up remaining space */
  margin-right: 20px; /* Adds space between the text and the image */
}

/* Image styling */
.informacoes img {
  flex-shrink: 0; /* Prevents the image from shrinking */
  width: 50%; /* Sets the image width */
  height: auto; /* Maintains aspect ratio */
}

@media screen and (max-width: 768px) {
  .informacoes {
    flex-direction: column;
    align-items: center;
  }

  .informacoes img {
    width: 100%; /* Full width on small screens */
    margin-top: 20px; /* Adds space above the image */
  }

  .informacoes section {
    width: 100%; /* Full width for the text section */
    margin-right: 0; /* Removes right margin */
  }
}

.nav-link {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.nav-link i {
  font-size: var(--font-size-icon);
}

@media screen and (max-width: 768px) {
  .row > .col-md-3 {
    margin-bottom: 20px; /* Adiciona um espaço abaixo de cada coluna em telas menores */
  }
}
